@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(80, 167, 80);
    text-decoration: underline;
}

li {
    list-style: none;
}

main {
    padding: 5vh;
}

.img-container {
    display: flex;
    justify-content: center;
}

/* ============================= */

#intro {
    position: relative;
    margin-bottom: 3vh;
    background-image: url(assets/images/leaves_background.jpg);
    background-size: cover;
    height: fit-content;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*  */
#intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(194, 255, 236, 0.6));
    z-index: 1;
}

#intro * {
    position: relative;
    z-index: 2;
}

#intro-desc {
    background-color: rgb(255, 255, 255);
    opacity: 0.75;
    border-radius: 20px;
    padding: 20px;
    color: green;
    text-align: center;
}

.challenge-list {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* ===================== challenge card =============== */
.challenge-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    padding: 20px;
}

.card-img-container {
    height: 150px;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.card-img-container img {
    width: 100%;
    height: auto;
    border-radius: 1%;
    transform: scale(1.0);
    transition: transform 0.2s;
}

.card-content {
    padding: 10px;
}

.card-desc {
    display: flex;
    flex-direction: column;
}

