@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ============= Colors =============== */
:root {
    --Tomato: hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

/* ============= Body =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    position: relative;
    height: 100%;
    background-color: var(--DarkSlateGrey);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* ============= Main =============== */
main {
    display: flex;
    flex-direction: column;
    background-color: var(--White);
}

/* ============= Image =============== */
figure img {
    width: 100%;
}

/* ============= Content =============== */
#container {
    padding: 3vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

/* --- List --- */
li {
    display: flex; /* Automatically sets list-style: none */
    margin-bottom: .8rem;
}

li::before {
    content: url('assets/images/icon-list.svg');
    line-height: 1;
    margin-right: 1rem;
}

/* --- Email --- */
label {
    font-weight: 700;
}

input {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--Grey);
    border-radius: 10px;
    margin-top: 1.5vh;
    margin-bottom: 3vh;
}

button {
    width: 100%;
    background-color: var(--DarkSlateGrey);
    color: var(--White);
    padding: 1rem;
    border-radius: 7px;
}

/* ============= Attribution =============== */
footer { 
    background-color: var(--White);
    width: 100%;
    font-size: 11px; 
    text-align: center; 
    color: var(--CharcoalGrey);
}

footer a { 
    color: var(--Tomato); 
    text-decoration: underline bold;
}