@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ============= Colors =============== */
:root {
    --Tomato: hsl(4, 100%, 67%);
    --FadedTomato: hsl(8, 86%, 75%);
    --VenetianRed: #ff558b;
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}

/* ============= Body/General styles =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--CharcoalGrey);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.bold {
    font-weight: 700;
}

button {
    width: 100%;
    background-color: var(--DarkSlateGrey);
    color: var(--White);
    padding: 1rem;
    border-radius: 7px;
    cursor: pointer;
    border: none;
}

button:hover {
    background: linear-gradient(90deg, var(--VenetianRed) 0%, var(--Tomato) 100%);
    box-shadow: var(--FadedTomato) 0px 13px 27px -5px;
}

/* ============= Main =============== */
main {
    background-color: var(--White);
    border-radius: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

/* ============= Image =============== */
figure img {
    width: 100%;
}

/* ============= Content =============== */
#signup .wrapper {
    padding: 3vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

/* --- List --- */
li {
    display: flex; /* Automatically sets list-style: none */
    margin-bottom: .8rem;
}

li::before {
    content: url('assets/images/icon-list.svg');
    line-height: 1;
    margin-right: 1rem;
}

/* --- Email --- */
input {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--Grey);
    border-radius: 10px;
    margin-top: 1.5vh;
    margin-bottom: 3vh;
}

/* ============= Signup success page =============== */
#signup-success {
    height: 100vh;
    display: none;
    justify-content: space-between;
    padding: 3vh;
}

#signup-success-msg {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#icon-success {
    width: 6vh
}

#signup-success button {
   margin-bottom: 3vh;
}

/* ============= Attribution =============== */
footer { 
    width: 100%;
    font-size: 11px; 
    text-align: center; 
    color: var(--White);
}

footer a { 
    color: var(--Tomato); 
    text-decoration: underline bold;
}

/* ============= Responsive design =============== */
@media only screen and (min-width: 414px) {
    #signup-success {
        padding: 2rem;
        width: 400px;
        height: 400px;
    }

    #signup-success .wrapper {
        height: fit-content;
    }

    #signup-success-msg {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    #signup-success button {
        margin-bottom: 0;
     }
}

@media only screen and (min-width: 768px) {
    main {
        display: block;
        overflow: hidden;
    }
}

@media only screen and (min-width: 1010px) {
    main {
        width: fit-content;
        height: fit-content;
        padding: 2vh;
        border-radius: 20px;
    }

    #signup {
        width: 100vh;
        flex-direction: row-reverse;
    }

    #signup .wrapper {
        width: 100vh;
        padding: 5vh;
    }

    figure {
        width: 100%;
    }

    figure img {
        width: 100%;
    }

    footer { 
        background-color: var(--CharcoalGrey);
        color: var(--White);
    }
}