@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* ============= Colors =============== */
:root {
    /* Primary */
    --Blue: hsl(246, 80%, 60%);
    --Orange : hsl(15, 100%, 70%);
    --SoftBlue : hsl(195, 74%, 62%);
    --LightRed : hsl(348, 100%, 68%);
    --LimeGreen : hsl(145, 58%, 55%);
    --Violet : hsl(264, 64%, 52%);
    --SoftOrange : hsl(43, 84%, 65%);

    /* Neutral */
    --VeryDarkBlue: hsl(226, 43%, 10%);
    --DarkBlue: hsl(235, 46%, 20%);
    --DesaturatedBlue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);
}

/* ============= Body & Main =============== */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin-block: 2rem;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--VeryDarkBlue);
    color: var(--PaleBlue);
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 16px;
    gap: 2rem;
}

main {
    display: grid;
    gap: 2rem;
    padding-inline: 1rem;
}

/* ============= Utility classes =============== */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title {
    color: white;
    font-size: 1.5rem;
}

/* ============= User card =============== */
#user-card {
    display: block;
    background-color: var(--DarkBlue);
    border-radius: 15px;
    overflow: hidden;
}

.username-container {
    background-color: var(--Blue);
}

.username-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.username-wrapper figure img {
    height: 6vh;
    border-radius: 100%;
    border: 3px solid white;
}

.username .title { 
    color: white;
    margin-top: .3rem;
}

.time-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.time-wrapper div {
    padding: 1.8rem;
    color: var(--DesaturatedBlue);
}

/* ============= Card structure =============== */
.card {
    border-radius: 15px;
    padding: 2rem;
}

.dashboard-card {
    border-radius: 15px;
}

.dashboard-card figure {
    display: block;
    overflow: hidden;
    height: 4.3vh;
}

.dashboard-card figure .img-container {
    display: flex;
    justify-content: end;
    padding-inline-end: 1rem;
}

.dashboard-card figure img {
    width: 15vw;
}

.card-content {
    width: 100%;
    background-color: var(--DarkBlue);
}

/* ============= Specific card styling =============== */
#work-card {
    background-color: var(--Orange);
}

#play-card {
    background-color: var(--SoftBlue);
}

#study-card {
    background-color: var(--LightRed);
}

#exercice-card {
    background-color: var(--LimeGreen);
}

#social-card {
    background-color: var(--Violet);
}

#self-care-card {
    background-color: var(--SoftOrange);
}

/* ============= Attribution =============== */
footer { 
    width: 100%;
    font-size: 11px; 
    text-align: center; 
}

footer a { 
    color: var(--Blue); 
    text-decoration: underline bold;
}