@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ============= Colors =============== */
:root {
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

/* ============= Body =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--LightGrayishBlue);
    font-family: 'Manrope', sans-serif;
    color: var(--DesaturatedDarkBlue);
    font-weight: 500;
    font-size: 2vh;
}

/* ============= General styles =============== */
.bold {
    color: var(--VeryDarkGrayishBlue);
    font-weight: 700;
}

/* ============= Main content =============== */
main {
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 50vh;
    z-index: 0;
}

/* ---------- Image ------------ */
.img-container {
    display: block;
    height: 33vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

/* ---------- Content ------------ */
.wrapper {
    padding: 5.5vh;
    padding-bottom: 3vh;
}

.title {
    margin-bottom: 3vh;
    font-size: 2.4vh;
}

.desc {
    margin-bottom: 4vh;
}

/* ---------- Avatar ------------ */
.avatar {
    display: flex;
    flex-direction: row;
    gap: 3vh;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

.profile-photo {
    border-radius: 50%;
    width: 6vh;
}

.share-btn {
    background-color: var(--LightGrayishBlue);
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.share-btn:hover {
    cursor: pointer;
    background-color: var(--DesaturatedDarkBlue);
}

/* ============= Hidden share bar =============== */
.share-bar {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--VeryDarkGrayishBlue);
    padding: 3vh;
    display: flex;
    flex-direction: row;
    gap: 3vh;
    justify-content: start;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ============= Attribution =============== */
.attribution { 
    position: absolute;
    bottom: 0;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: var(--DesaturatedDarkBlue); 
}