@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ============= Colors =============== */
:root {
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

/* ============= Body =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--LightGrayishBlue);
    font-family: 'Manrope', sans-serif;
    color: var(--DesaturatedDarkBlue);
    font-weight: 500;
    font-size: 2vh;
}

/* ============= General styles =============== */
.bold {
    color: var(--VeryDarkGrayishBlue);
    font-weight: 700;
}

/* ============= Main content =============== */
main {
    display: inline-block;
    margin: 3vh;
    position: relative;
    background-color: white;
    border-radius: 10px;
    z-index: 0;
    min-width: calc(100% - 60px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 10px 60px -2px;
}

/* ---------- Image ------------ */
.img-container {
    display: block;
    height: 33vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

/* ---------- Content ------------ */
.container {
    padding: 5.5vh;
    padding-bottom: 3vh;
}

.title {
    margin-bottom: 3vh;
    font-size: 2.4vh;
}

.desc {
    margin-bottom: 4vh;
}

/* ---------- Avatar ------------ */
.avatar {
    display: flex;
    flex-direction: row;
    gap: 3vh;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
}

.profile-photo {
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
}

.share-btn {
    background-color: var(--LightGrayishBlue);
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-btn:hover {
    cursor: pointer;
    background-color: var(--GrayishBlue);
}

/* ============= Hidden share bar =============== */
.share-bar {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: -10px;
    width: 100%;
    background-color: var(--VeryDarkGrayishBlue);
    padding-inline: 5.5vh;
    padding-block: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform 330ms ease-in-out, opacity 330ms ease-in-out, visibility 330ms;
}

.share-bar.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);
}

.text-share {
    color: var(--GrayishBlue)
}

.links {
    display: flex;
    flex-direction: row;
    gap: 3vh;
}

.share-bar .share-btn {
    background-color: var(--DesaturatedDarkBlue);
}

.share-bar .share-btn:hover {
    background-color: var(--GrayishBlue);
}

/* ============= Attribution =============== */
footer { 
    position: absolute;
    bottom: 0;
    font-size: 11px; 
    text-align: center; 
}

footer a { 
    color: var(--DesaturatedDarkBlue); 
}

/* ============= Responsive design (Desktop/larger screens) =============== */
@media only screen and (min-width: 414px) {
    main {
        width: 50vh;
    }
}

@media only screen and (min-width: 1280px) {
    main {
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: 42vh;
        max-height: fit-content;
    }

    .img-container {
        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        width: 50vh;
        height: 100%;
        max-height: 50vh;
    }

    .img-container img {
        width: 65vh;
    }

    .container {
        height: fit-content;
    }

    .wrapper {
        width: 60vh;
    }

    .title {
        font-size: 2cap;
    }

    .share-bar {
        width: fit-content;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        right: -10.2vh;
        bottom: 5px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 10px 60px -2px;
    }

    .share-bar.visible {
        transform: translateY(-90px);
    }

    .share-bar::after {
        position: absolute;
        bottom: -14px; left: calc(50% - 15px);
        display: block; width: 0; content: "";
        border: 15px solid transparent;
        border-top-color: var(--VeryDarkGrayishBlue);
        border-bottom: 0;
    }

    .share-bar .share-btn {
        display: none;
    }
}