@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Grey900);
    color: var(--White);
    font-family: 'Inter', sans-serif;
    font-size: .9em;
}

a {
    text-decoration: none;
    color: inherit;
}

/* =================== Main content ===================== */
/* Original container */
main {
    background-color: var(--Grey800);
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 4.5vh;
    width: fit-content;
}

/* -------- Profile section -------- */
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3vh;
}

.avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}

.avatar {
    border-radius: 50%;
    height: 9vh;
    width: 9vh;
}

.avatar:hover {
    cursor: pointer;
}

.user-name {
    font-size: large;
    font-weight: 600;
    margin-bottom: 1.5vh;
}

.user-name:hover {
    color: var(--Green);
    cursor: pointer;
}

.user-country {
    color: var(--Green);
    font-weight: 600;
    margin-bottom: 3vh;
}

/* -------- Social links section -------- */
.links-container {
    display: flex;
    flex-direction: column;
    gap: 1.75vh;
}

.social-link {
    background-color: var(--Grey700);
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
}

.social-link:hover {
    background-color: var(--Green);
    cursor: pointer;
    color: var(--Grey700);
}

/* ===================== footer ===================== */
.attribution { 
    position: absolute;
    bottom: 0;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: var(--Green); 
}

/* ==================== Responsiveness ================ */
@media only screen and (max-width: 320px) {

    .user-country {
        font-size: .85em
    }

    .user-quote {
        font-size: .85em;
    }
}
