@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* ===================== Colors ===================== */
:root {
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
}

/* ===================== Body ===================== */
* {
    padding: 0;
    margin: 0;
}

hr {
    border: none;
    border-top: .5px solid var(--Stone150);
}

body, html {
    height: 100%;
    font-family: 'Outfit', 'Young Serif', sans-serif;
    background-color: var(--Stone100);
    font-size: .9em;
    color: var(--Stone600);
    font-weight: 400;
}

/* ==================== General styles ================== */
/* ----------- Title styles ------------ */
.title, .subtitle {
    font-family: 'Young Serif', sans-serif;
    font-weight:400;
    font-size: 1.5em;
    color: var(--Stone900);
}

.subtitle {
    color: var(--Brown800);
    margin-bottom: 1em;
}

/* ----------- List styles ------------ */
li {
    display: flex; /* Automatically sets list-style: none */
    margin-bottom: .7em;
}

ul li {
    align-items: center;
    padding-left: 1em;
    position: relative;
}

ul li::before {
    content: '•';
    font-size: 1.5em;
    position: absolute;
    left: 0;
    line-height: 1;
}

li:last-child {
    margin-bottom: 0;
}

li div {
    margin-left: 1em;
}

li div span {
    font-weight: 700;
    color: var(--Stone600);
}

/* ===================== Main content ===================== */
main {
    background-color: var(--White);
    border-radius: 20px;
    height: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 4vh;
    padding-top: 0;
    height: fit-content;
}

/* ------------- image ------------- */
.img-container {
    text-align: center;
    width: 100%;
    margin-bottom: 2vh;
}

.img-container img {
    width: 100%;
}

/* ------------- Title & description ------------- */
.recipe-title {
    font-size: 2em;
}

/* ===================== Preparation time ===================== */
.preparation-time {
    background-color: var(--Rose50);
    padding: 3vh;
    border-radius: 10px;
}

.preparation-time-title {
    color: var(--Rose800);
    font-weight: 700;
    margin-bottom: 1em;
}

.preparation-time-content ul li::before { /* Give color to the list bullets */
    color: var(--Rose800);
 }

/* ===================== Ingredients ===================== */

.ingredients-list ul li::before {
    color: var(--Brown800);
}

/* ===================== Instructions ===================== */
/* ------ Unordered list ------ */
ol {
    list-style: none;
}

ol li {
    align-items: flex-start;
    counter-increment: list;
}

ol li::before {
    content: counter(list) ". ";
    font-weight: 700;
    color: var(--Brown800)
}

/* ===================== Nutrition ===================== */

.nutrition-table {
    display: grid;
}

.nutrition-table div {
    display: flex;
    justify-content: center;
    padding: .5em;
}

.nutrition-table div span {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    margin-left: 2em;
}

.nutrition-value {
    font-weight: 700;
    color: var(--Brown800)
}

/* ===================== attribution ===================== */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: var(--Brown800); 
}

/* ===================== Responsive design ===================== */
@media only screen and (min-width: 575px) {

    body, html {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main {
        width: 60vh;
        margin: auto;
        padding: 1vh;
    }

    .img-container {
        padding: 3vh;
        box-sizing: border-box;
        margin-bottom: 0;
    }

    .img-container img {
        border-radius: 10px;
    }

}

@media only screen and (min-width: 767px) {
    main {
        width: 60%;
    }
}

@media only screen and (min-width: 991px) {
    body {
        font-size: 1em;
    }
    
    main {
        width: 50%;
    }
}